{% extends 'vocabulary/base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12" align="center">
            <h5>Переведи слова на английский</h5>

            <h5>RUS <a class="change-translate" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                 class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg></a> ENG</h5>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-12" align="left">
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12" align="left">
            <form action="{% url 'home' %}" method="post" class="from_left"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-error">{{form.non_filed_errors}}</div>
                {% for f in form %}
                <h5 align="center"><label class="form-label shadow-sm p-3 mb-5 bg-body rounded"
                                          for="{{f.id_for_label}}"><b>{{rus_word}}</b></label>{{f}}
                    <button type="submit" class="btn btn-outline-dark"><b>OK</b></button>
                </h5>
                {{result}}
                Правильный ответ ===> {{right_value}}
                <div class="form-error">{{f.errors}}</div>
                {% endfor %}
            </form>


        </div>
        <div class="col-xl-4 col-md-4 col-sm-12" align="left">
        </div>

    </div>
</div>
{% endblock %}
